In [1]:
import pandas as pd

In [11]:
DF = pd.read_csv('data.txt', sep=" ",header=None,
names=['date:yyyy-mm-dd','time:hh:mm:ss.xxx','epoch:int','moteid:int','temperature:real','humidity:real','light:real','voltage:real'])

In [12]:
DF.head()

,date:yyyy-mm-dd,time:hh:mm:ss.xxx,epoch:int,moteid:int,temperature:real,humidity:real,light:real,voltage:real
0,2004-03-31,03:38:15.757551,2,1.0,122.1530,-3.91901,11.04,2.03397
1,2004-02-28,00:59:16.02785,3,1.0,19.9884,37.09330,45.08,2.69964
2,2004-02-28,01:03:16.33393,11,1.0,19.3024,38.46290,45.08,2.68742
3,2004-02-28,01:06:16.013453,17,1.0,19.1652,38.80390,45.08,2.68742
4,2004-02-28,01:06:46.778088,18,1.0,19.1750,38.83790,45.08,2.69964

In [13]:
DF.shape

(2313682, 8)

In [14]:
DF.isnull().sum()

date:yyyy-mm-dd          0
time:hh:mm:ss.xxx        0
epoch:int                0
moteid:int             526
temperature:real       901
humidity:real          902
light:real           93878
voltage:real           526
dtype: int64

In [15]:
DF.fillna('NA',inplace=True)

In [16]:
DF.isnull().sum()

date:yyyy-mm-dd      0
time:hh:mm:ss.xxx    0
epoch:int            0
moteid:int           0
temperature:real     0
humidity:real        0
light:real           0
voltage:real         0
dtype: int64

In [17]:
DF.shape

(2313682, 8)

In [19]:
DF.to_csv('DF_data.csv',index=False)

In [20]:
DF_data = pd.read_csv('DF_data.csv')

In [21]:
DF_data.shape

(2313682, 8)